<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/modules/head :: head"></head>

    <body>
        <div th:replace="common/modules/header :: header"></div>

        <main th:fragment="content">
            <form th:action="@{/login}" th:method="POST" class="form">
                <h2 class="company-title">Pay My Buddy</h2>
                <input type="text" name="username" aria-label="Username or email" aria-required="true" placeholder="Username or email" />
                <input type="password" name="password" aria-label="Password" aria-required="true" placeholder="Password" />
                <div class="remember-me-wrapper">
                    <input id="rememberMe" aria-labelledby="rememberMe-label" type="checkbox" name="rememberMe"  />
                    <label id="rememberMe-label" for="rememberMe">Remember me</label>
                </div>
                <button class="button submit" type="submit">Log in</button>
                <label class="form-message">You're not registered ? <a th:href="@{/register}">Sign up</a></label>
            </form>
            <label class="form-message error" th:if="${errorMessage}" th:text="${errorMessage}"></label>
            <label class="form-message success" th:if="${successMessage}" th:text="${successMessage}"></label>
        </main>

        <div th:replace="common/modules/footer :: footer"></div>

    </body>
</html>