<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/modules/head :: head"></head>

    <body>
        <main th:fragment="content">
            <form th:action="@{/register}" th:method="POST" class="form auth-form">
                <h2>Inscription</h2>
                <input type="username" name="username" aria-label="Username" aria-required="true" placeholder="Username" />
                <input type="email" name="email" aria-label="Email address" placeholder="Email address" aria-required="true" />
                <input type="password" name="password" aria-label="Password" aria-required="true" placeholder="Password" />
                <input type="password" name="confirmPassword" aria-label="Confirm password" aria-required="true" placeholder="Confirm password" />
                <button class="button submit" type="submit">Sign up</button>
                <label class="form-message">Already registered ? <a th:href="@{/login}" aria-label="Log in">Log in</a></label>
            </form>
            <label class="form-message error" th:if="${errorMessage}" th:text="${errorMessage}"></label>
        </main>
    </body>
</html>