<header th:fragment="header">
    <h1>PayMyBuddy</h1>
    <nav>
        <label class="header-message">Bonjour, <span th:text="${username}"></span></label>

        <hr class="horizontal-separator" />

        <a th:classappend="${selectedTab == 1} ? 'selected' : ''" class="nav-item" th:href="@{/dashboard}">
            Aperçu
        </a>

        <a th:classappend="${selectedTab == 2} ? 'selected' : ''" class="nav-item" th:href="@{/dashboard/activity}">
            Activité
        </a>

        <a th:classappend="${selectedTab == 3} ? 'selected' : ''" class="nav-item" th:href="@{/dashboard/contacts}">
            Contacts
        </a>

        <a th:classappend="${selectedTab == 4} ? 'selected' : ''" class="nav-item" th:href="@{/dashboard/account}">
            Mon compte
        </a>

        <a class="nav-item logout-item" th:href="@{/logout}">
            Se déconnecter
        </a>
    </nav>
</header>