<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/modules/head :: head"></head>
<body>
<div th:replace="common/modules/auth-header :: header"></div>

<main th:fragment="content">
    <form th:action="@{/dashboard/account/change-password}" th:method="POST" class="form account-form">
        <h2>Mon compte</h2>
        <label class="input-label">Username</label>
        <input type="text" th:value="|@${username}|" disabled />
        <label class="input-label">Email address</label>
        <input type="text" th:value="${email}" disabled />
        <input type="password" name="oldpassword" aria-label="Current password" placeholder="Current password" aria-required="true" />
        <input type="password" name="newpassword" aria-label="New password" placeholder="New password" aria-required="true" />
        <button class="button submit" type="submit">Change password</button>
    </form>
    <label class="form-message error" th:if="${errorMessage}" th:text="${errorMessage}"></label>
    <label class="form-message success" th:if="${successMessage}" th:text="${successMessage}"></label>
</main>
</body>
</html>