<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/modules/head :: head"></head>
<body>
<div th:replace="common/modules/auth-header :: header"></div>

<main th:fragment="content">
    <form th:action="@{/dashboard/account/change-password}" th:method="POST" class="form account-form">
        <h2>Mon compte</h2>
        <label class="input-label">Nom d'utilisateur</label>
        <input type="text" th:value="|@${username}|" disabled />
        <label class="input-label">Adresse email</label>
        <input type="text" th:value="${email}" disabled />
        <input type="password" name="oldpassword" aria-label="Mot de passe actuel" placeholder="Mot de passe actuel" aria-required="true" />
        <input type="password" name="newpassword" aria-label="Nouveau mot de passe" placeholder="Nouveau mot de passe" aria-required="true" />
        <button type="submit">Changer de mot de passe</button>
    </form>
    <label class="form-message error" th:if="${errorMessage}" th:text="${errorMessage}"></label>
    <label class="form-message success" th:if="${successMessage}" th:text="${successMessage}"></label>
</main>

<div th:replace="common/modules/footer :: footer"></div>
</body>
</html>