<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/modules/head :: head"></head>

    <body>
        <div th:replace="common/modules/auth-header :: header"></div>

        <main class="dashboard-body" th:fragment="content">
            <form th:action="@{/dashboard/contacts}" th:method="POST" class="form contact-form">
                <input type="email" name="email" placeholder="Email address" aria-label="Email address" aria-required="true" />
                <input type="text" name="name" placeholder="Surname (optional)" aria-label="Surname (optional)" />
                <button class="button submit" type="submit">Add contact</button>
            </form>

            <label class="form-message error" th:if="${errorMessage}" th:text="${errorMessage}"></label>
            <label class="form-message success" th:if="${successMessage}" th:text="${successMessage}"></label>

            <div class="form table-wrapper">
                <table class="table table-hover table-responsive-xl">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${contacts.size() == 0}">
                            <th colspan="2">
                                No contact
                            </th>
                        </tr>
                        <tr th:each="contact : ${contacts}">
                            <td th:text="${contact.name}"></td>
                            <td th:text="${contact.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>