<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/modules/head :: head"></head>

    <body>
        <div th:replace="common/modules/auth-header :: header"></div>

        <main th:fragment="content">
            <form th:action="@{/dashboard/contacts}" th:method="POST" class="form contact-form">
                <input type="email" name="email" placeholder="Adresse email" />
                <input type="text" name="name" placeholder="Surnom (optionnel)" />
                <button type="submit">Ajouter</button>
            </form>

            <label class="form-message error" th:if="${errorMessage}" th:text="${errorMessage}"></label>
            <label class="form-message success" th:if="${successMessage}" th:text="${successMessage}"></label>

            <div class="form table-wrapper">
                <table class="table table-hover table-responsive-xl">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${contacts.size() == 0}">
                            <th colspan="2">
                                Aucun contacte
                            </th>
                        </tr>
                        <tr th:each="contact : ${contacts}">
                            <td th:text="${contact.name}"></td>
                            <td th:text="${contact.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <div th:replace="common/modules/footer :: footer"></div>
    </body>
</html>