<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/modules/head :: head"></head>

    <body>
        <div th:replace="common/modules/auth-header :: header"></div>

        <main class="dashboard-body" th:fragment="content">
            <div class="form balance-wrapper">
                <h2 class="balance-title">Amount : <span th:text="${balance}"></span>€</h2>
                <div class="balance-actions">
                    <a th:href="@{/dashboard/transaction}" aria-label="Envoyer de l'argent à un contact">Send money</a>
                </div>
            </div>
        </main>
    </body>
</html>