:root {
    --primary-color: #444;
    --primary-text-color: #fefefe;
    --secondary-color: #0076d9;
    --secondary-text-color: #fefefe;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    color: #444;
}

.landing-header {
    padding: 10px 20px;
    flex-direction: row;
    justify-content: space-between;
}

.top-header {
    width: 100%;
    padding: 10px 20px;
    background-color: #fefefe;
    color: #444;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.path-bar {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    background-color: #fafafa;
}

    .path-bar * {
        margin-bottom: 0!important;
    }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    nav > * {
        margin-left: 8px;
    }

    nav > *:first-child {
        margin-left: 0;
    }

.header-message {
    margin-right: 4px;
    margin-bottom: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 10px 20px;
    box-shadow: 0 0 2px #444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

    .form > * {
        margin-top: 10px;
        width: 100%;
    }

        .form > *:first-child {
            margin-top: 0;
        }

.auth-form {
    padding: 20px;
    background-color: #fefefe;
}

input, select {
    border: 0!important;
    outline: 0!important;

    box-shadow: 0 0 2px #aaa;
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;

    min-width: 200px;

    transition: box-shadow 0.2s;
}

    input:focus, select:focus {
        box-shadow: 0 0 4px var(--secondary-color);
    }

.auth-input-wrapper {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    padding: 6px;

    box-shadow: 0 0 2px #aaa;
    border-radius: 4px;

    transition: box-shadow 0.2s;
}

    .auth-input-wrapper img {
        width: 20px;
        height: 20px;
    }

    .auth-input-wrapper input, .auth-input-wrapper select {
        box-shadow: none!important;
        border-radius: 0!important;
    }

    .auth-input-wrapper:has(input:focus), .auth-input-wrapper:has(select:focus) {
        box-shadow: 0 0 4px var(--secondary-color);
    }

.contact-form {
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;
}

    .contact-form input, .contact-form select {
        min-width: 50px;
    }

button {
    border: 0;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    box-shadow 0 0 2px #aaa;

    transition: opacity 0.2s;
}

    button:hover {
        opacity: 0.85;
        cursor: pointer;
    }

    button:active {
        opacity: 0.7;
    }

.form-message {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}

a {
    color: dodgerblue;
    transition: opacity 0.2s;
}

    a:hover {
        cursor: pointer;
        opacity 0.85;
    }

.form-message.error {
    color: crimson;
}

.form-message.success {
    color: green;
}

.nav-item {
    color: #444;
    text-decoration: none;

    transition: opacity 0.2s, color 0.2s;
}

    .nav-item.selected {
        color: var(--secondary-color);

        text-decoration: underline;
        text-underline-offset: 2px;
    }

    .logout-item {
        margin-left: 20px;
    }

.horizontal-separator {
    display: inline-block;

    margin-left: 14px;
    margin-right: 14px;

    width: 2px;
    height: 20px;
    border-radius: 2px;
    background-color: #ddd;
    border: 0;
    outline: 0;
}

.dashboard-body {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
}

    .dashboard-body > * {
        width: 100%;
    }

.balance-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.balance-title {

}

.balance-title span {
    font-weight: 500;
}

/*
.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/

.table-bottom-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.input-label {
    margin-bottom: 0;
}

.remember-me-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .remember-me-wrapper input {
        min-width: 0;
        box-shadow: none;
    }

    .remember-me-wrapper label {
        margin-left: 8px;
    }

.button.submit {
    background-color: #0076d9;
}

.company-button {
    background-color: #70be53;
}

.company-title {
    padding: 6px 10px;
    background-color: #70be53;
    border-radius: 4px;
    color: #fefefe;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.form .company-title {
    width: inherit;
    margin-bottom: 14px;
    margin-top: 0;
}

.account-form input {
    min-width: 250px;
}

.transaction-fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.transaction-fields > * {
    flex: 1;
}

.pages-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .page-item {
        border: 1px solid #aaa;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-item:first-child {
        border-radius: 4px 0 0 4px;
    }

    .page-item:last-child {
        border-radius: 0 4px 4px 0;
    }

    .selected-page-item {
        text-decoration: underline;
        text-underline-offset: 2px;
        color: blue;
    }

.transaction-add-contact-wrapper {
    margin-bottom: -20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table thead th {
    background-color: #70be53!important;
    color: #fefefe!important;
}

.table tbody tr:nth-child(odd) th, .table tbody tr:nth-child(odd) td {
    background-color: #f0f0f0;
}
